@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  color: #fff;
  background: #010409;  /* #020617; #c0c0c0 =silver */
}

.container {
  max-width: 100%;
}

/* #020617; */
